.carrusel {
  outline: 1px solid black;
}
.bcp {
  width: 100%;
  height: 100px;
}
.item {
  outline: 1px solid black;
  margin: 2%;
  margin-right: 4.3%;
}
img {
  width: 100%;
  height: 70px;
}
li {
  margin: 1%;
  outline:1px solid rgb(209, 191, 31);
}
li:hover {
  outline: 3px solid rgb(240, 222, 65) ;
}
h2:hover {
  color: rgb(209, 191, 31);
}
h3 {
  color: rgb(209, 191, 31);
}
.num {
  border: 2px solid yellow;
  border-radius: 50%;
  width: 20px;
  height: 26px;
}

/*
.a {
  outline: 1px solid red;
  width: 10%;
  height: 80px;
  margin: 1%;
}
li {
  width: 10%;
  height: 100%;
  float: left;
  margin: 1%;
}
.cont-ul {
  outline: 1px solid black;
  overflow: hidden;
}
.artist-list img {
  width:100%;
  height: 80%;
}*/
